<form [formGroup]="EditUser" (ngSubmit)="onSubmit()" *ngFor="let list of data | async">
  <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>USUARIO</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display:inline-flex;"> 
      <div  class="my-image">
          <img mat-card-image src="../../assets/cc.png" alt="USER COCO">
      </div>
        
        <div style="display:inline-flex;">  
          <div>        
                <mat-form-field width class="full-width">
                    <input matInput placeholder="NOMBRE" formControlName="nombre" required [(ngModel)]="list.nombre">
                    
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput placeholder="APELLIDO PATERNO" formControlName="apellidoPaterno" required [(ngModel)]="list.apellidoPaterno">
                </mat-form-field>
                <mat-form-field class="half-width">
                  <input matInput placeholder="APELLIDO MATERNO" formControlName="apellidoMaterno" required [(ngModel)]="list.apellidoMaterno">
              </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="NOMBRE DE USUARIO" formControlName="nombreUsuario" required [(ngModel)]="list.nombreUsuario">
              </mat-form-field>
                <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="CORREO ELECTRONICO" [formControl]="correo" required [(ngModel)]="list.correo"> 
                      <mat-error *ngIf="correo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                <mat-form-field class="full-width">
                    <input matInput placeholder="CONSTRASEÑA" [type]="hide ? 'password' : 'text'" formControlName="contrasena" required [(ngModel)]="list.contrasena">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <input matInput placeholder="DIRECCION"formControlName="direccion" required [(ngModel)]="list.direccion">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="CP" formControlName="CP" required [(ngModel)]="list.CP">
                </mat-form-field>

                <mat-form-field class="half-width">
                    <input matInput placeholder="MUNICIPIO" formControlName="municipio" required [(ngModel)]="list.municipio">
                  </mat-form-field>  

                <mat-form-field class="half-width">
                    <mat-label>ESTADO</mat-label>
                    <mat-select formControlName="estado" required>
                        <mat-option *ngFor="let estado of estados" [value]="estado.estado">
                            {{estado.estado}}
                          </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <div style="display:flex; justify-content:flex-end;align:end">  
            <button mat-button type="reset">Limpiar</button>
            <button mat-button type="submit">Confirmar</button>
          </div>
  </mat-card-actions>
  </mat-card>
</form>

