.flex-container{
    padding:0;
    margin:0;
    display: flex;
}

.center{
    justify-content: center
}

.space-evenly{
    justify-content: space-between;
    align-items: baseline;
}

mat-form-field, a{
    font-size: 14px;
}

mat-toolbar {
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    height: 100px;
}