<mat-toolbar color="primary">
  <div style="width:33%;"></div>
  <div style="width:33%;">
      <!-- <h1 routerLink="/" class= "flex-container center">Aqui va el logo del Isaí jsjsjs</h1> -->
      <img routerLink="/" class= "flex-container center" src="../../assets/logo.png">
  </div>
  <div style="width:33%;">
  <div class="flex-container space-evenly">
    <mat-form-field>
      <input [(ngModel)]="value"  matInput type="text" placeholder="Buscar" >
      <button mat-button matSuffix mat-icon-button (click)="search(value)">
          <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
     <div>
    <a routerLink="/cart">Carrito </a>|
    <a routerLink="/user-info">Usuario</a>



  </div>
  </div>
</div>
</mat-toolbar>

