.flex-container{
    padding:0;
    margin:0;
    display: flex;
}

.center{
    justify-content: center
}

.space-evenly{
    justify-content: flex-end;
    align-items: baseline;
}

mat-form-field, a{
    font-size: 14px;
}

mat-toolbar {
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    height: 20%;
    min-height: 55px;
}

a{
    text-decoration: none;
}

img{
    width: 90%;
    height: 33%;
    justify-content: center;
    display: flex;   
}