<mat-toolbar color="primary">
  <div style="width:25%;"></div>
  <div style="width:50%;">
    <p class="flex-container center">Ps en el wireframe dice que va un texto</p>
  </div>
  <div style="width:25%;">
    <div class="flex-container center">
      <div>
      <div class= flex-container>
      <button mat-raised-button>Botón 1?</button>
      <button mat-raised-button>Botón 2?</button>
      <button mat-raised-button>Botón 3?</button>
    </div>
    <img src="https://i.ytimg.com/vi/ADjTcV8JIss/maxresdefault.jpg">
  </div>
    </div>
  </div>
</mat-toolbar>
