<div style="display:inline-flex;">
  <div>
    <mat-card>
      <mat-card-header>
          <mat-card-title>Confirmación de pago</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-checkout-payment-confirmation></app-checkout-payment-confirmation>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Confirmación de envío</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-checkout-shipping-confirmation></app-checkout-shipping-confirmation>
        </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>Confirmación de pedido</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-checkout-order-confirmation></app-checkout-order-confirmation>
    </mat-card-content>
    <mat-card-actions>
        <h3 style="display:flex;justify-content:flex-end">{{Ttotal}}</h3>
        <button mat-button style="display:flex;justify-content:center">Confirmar compra</button>
      </mat-card-actions>
  </mat-card>
</div>
