/* {
    padding-left: ;
    padding-right: ;
} */

.cdk-virtual-scroll .viewport {
    height: 400px;
    width: 400px;
  }
  
  .cdk-virtual-scroll  .viewport{
    display: flex;
    flex-direction: row;
  }
  
  mat-card{
    flex-wrap: wrap;
    position: relative;
    /* float: left; */
    padding: 20px, 20px;
    max-width: 275px;
    margin: 30px;
    margin-top: 10px;
  }
  
  img{
    width: 200px;
    height: 200px;
  }
  
  slideshow{
    /* position:absolute; */
    margin: 50px;
    margin-left: 30px;
    padding: 20px;
    width: 100%
  
  }

  .carrousel{
    /* display:flex; */
    justify-content: center;
    margin-left: 7%;
    margin-right: 7% ;
    max-width: 100% ;
  }

  
  .content-card{
   display:inline-flex;  
  }

