<h1>¡Bienvenido a la Cocotienda!</h1>

<div class="carrousel">
    <slideshow class="slide-homepage"
      [imageUrls]="imageUrlArray"
      [height]="height"
      [minHeight]="'400px'"
      [autoPlay]="true"
      [showArrows]="false">
    </slideshow>
</div>

<div *ngFor="let name of posts | async" class="category-card">
  <h1>{{name.category}}</h1>
  <div *ngFor="let list of posts | async" class="content-card">
    <div *ngIf= "list.categoria == name.categoria">      
            <mat-card routerLink = "/product">
                <img mat-card-image src="{{list.img}}" >
                <mat-card-actions>
                  <p>{{list.name}}</p>
                  <p>{{list.total}}</p>
                </mat-card-actions>
            </mat-card>
        </div>
      </div>  
     <br> 
  </div>