<mat-card *ngFor="let list of pedido">
  <mat-card-content style="display:inline-flex;">
    <img src="{{list.img}}">
    <div>
      <h2>{{list.name}}</h2>
      <div style="display:inline-flex;">
        <div>
          <p>Cantidad</p>
          <p>{{list.cantidad}}</p>
        </div>
        <div>
          <p>Total</p>
          <p>{{list.total}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<h3 style="display:flex;justify-content:flex-end">{{order.total}}</h3>
<button mat-button style="display:flex;justify-content:center" (click)="confirmOrder()">Confirmar compra</button>
