<form [formGroup]="Payment" (ngSubmit)="onSubmit()">

  <mat-form-field class="bigInput">
    <input matInput placeholder="Número de tarjeta" formControlName="tarjetaCredito" required>
  </mat-form-field>
  <br>

  <mat-form-field class="smallInput">
      <input matInput [matDatepicker]="picker" placeholder="Fecha de expiración" formControlName="fechaExpiracion" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
  <mat-form-field class="smallInput">
    <input matInput placeholder="CVV" formControlName="CVV" required>
  </mat-form-field>
  <br>
  <button mat-button type="submit">Confirmar</button>
</form>
