.flex-container{
    padding:0;
    margin:0;
    display: flex;
    height: auto;
}

*{
    background-color: #fefed5;
}

.router-outlet{
    width: 85%;
    padding-left: 2%;
    padding-right: 2%;
}

.asideCool{
    width:15%;
    min-width: 175px;
    background-color: #ffcd3c;
}

@media only screen and (max-width: 375px) {
    .asideCool {
        width:30%;
        background-color: #ffcd3c;
    }
  }

