<mat-card class="example-card" *ngFor="let list of user_data | async>
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>USUARIO</mat-card-title>
  </mat-card-header>
  <mat-card-content style="display:inline-flex;"> 

    <div  class="my-image">
        <img mat-card-image src="../../assets/cc.png" alt="USER COCO">
    </div>

          <mat-card class="example-card-2" >
      <div>
        <div>

            <h3 mat-line><br>NOMBRE DE USUARIO</h3>
            <p mat-line>
              <span>{{list.nombreUsuario}}<br></span>
            </p>
            <mat-divider></mat-divider>
              <h3 mat-line><br>USUARIO</h3>
              <p mat-line>
                <span>{{list.nombre}}<br></span>
              </p>
            <mat-divider></mat-divider>
            
              <h3 mat-line><br>APELLIDOS</h3>
              <div style="display:inline-flex;">
                  <p mat-line>
                      <span>{{list.apellidoPaterno}}<br></span>
                    </p>
                    <p mat-line>
                        <span>{{list.apellidoMaterno}}<br></span>
                      </p>
                
              </div>

  





            <mat-divider></mat-divider>

              <h3 mat-line><br>CORREO ELECTRONICO</h3>
              <p mat-line>
                <span>{{list.correo}}<br></span>
              </p>

            <mat-divider></mat-divider>
        </div>
    </div> 
  </mat-card>
  </mat-card-content>
 <mat-card-actions align="end">
  <div style="display:flex; justify-content:flex-end;align:end">  
      <button routerLink="/user-edit" mat-button>EDITAR</button>
      <button mat-button>CERRAR SESIÓN</button>
    </div>
</mat-card-actions>

</mat-card>

