<div *ngIf="user;else adminBlock">
  <ul class="blocks">
    <li class="left">
      <div class="carrousel">
        <slideshow #slideshow class="slide-homepage"
          [imageUrls]="imageUrlArray"
          [autoPlay]="false"
          [height]="height"
          [minHeight]="'300px'"
          [showArrows]="false">
        </slideshow>
      </div>
      <div>
        <input id="img1" type=image src={{imageUrlArray[0]}} class="smallImage" (click)="this.slideshow.goToSlide(0);">
        <input id="img2" type=image src={{imageUrlArray[1]}} class="smallImage" (click)="this.slideshow.goToSlide(1);">
        <input id="img3" type=image src={{imageUrlArray[2]}} class="smallImage" (click)="this.slideshow.goToSlide(2);">
        <input id="img4" type=image src={{imageUrlArray[3]}} class="smallImage" (click)="this.slideshow.goToSlide(3);">
        <input id="img5" type=image src={{imageUrlArray[4]}} class="smallImage" (click)="this.slideshow.goToSlide(4);">
      </div>
    </li>
    <li class="right">
      <mat-card style="background: #35d0ba" *ngFor="let list of article | async">
        <mat-card-header>
          <mat-card-title>{{list.productName}}</mat-card-title>
        </mat-card-header>
        <mat-card> 
          <mat-card-content>
            <div>
              <p>{{list.productDescription}}</p>
            </div>
            <div>
              <p>Precio: {{list.productPrice}} Cocoins</p>
            </div>
            <div>
              <p>En existencia: {{list.productStock}}</p>
            </div>
            <div>
              <label for="productTotal">Cantidad: </label>
              <input class="thisFont" name="productTotal" type="number" min="1" max={{list.productStock}} [(ngModel)]="list.productTotal" style="width: 45px"/>
            </div>
          </mat-card-content>
        </mat-card>  
        <div style="display:flex; justify-content:flex-end;">  
          <div >
            <button mat-raised-button style="background: #ffcd3c;margin-top: 5px" (click)="buyArticle()">Comprar</button>
          </div>
        </div>
      </mat-card>
    </li>
  </ul>
</div>


<ng-template #adminBlock>
  <ul class="blocks">
    <li class="left">    
      <form method="post" [formGroup]="articleImages" (ngSubmit)="imageSubmit()" class="product-form">
        <!-- <button mat-button type="button" (click)="imgFileInput1.click()" style="background: #35d0ba;margin: 10px">Agregar Imagen 1</button>
        <input hidden type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img1" required/><br>

        <button mat-button type="button" (click)="imgFileInput2.click()" style="background: #35d0ba;margin: 10px">Agregar Imagen 2</button>
        <input hidden type="file" accept=".jpg, .jpeg, .png" #imgFileInput2 formControlName="Img2" required/><br>

        <button mat-button type="button" (click)="imgFileInput3.click()" style="background: #35d0ba;margin: 10px">Agregar Imagen 3</button>
        <input hidden type="file" accept=".jpg, .jpeg, .png" #imgFileInput3 formControlName="Img3" required/><br>
          
        <button mat-button type="button" (click)="imgFileInput4.click()" style="background: #35d0ba;margin: 10px">Agregar Imagen 4</button>
        <input hidden type="file" accept=".jpg, .jpeg, .png" #imgFileInput4 formControlName="Img4" required/><br>
          
        <button mat-button type="button" (click)="imgFileInput5.click()" style="background: #35d0ba;margin: 10px">Agregar Imagen 5</button>
        <input hidden type="file" accept=".jpg, .jpeg, .png" #imgFileInput5 formControlName="Img5" required/><br> -->

        <input type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img1" style="margin: 10px" required/><br>
        <input type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img2" style="margin: 10px" required/><br>
        <input type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img3" style="margin: 10px" required/><br>
        <input type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img4" style="margin: 10px" required/><br>
        <input type="file" accept=".jpg, .jpeg, .png" #imgFileInput1 formControlName="Img5" style="margin: 10px" required/><br>


        <button mat-button type="submit" style="background: #ffcd3c;margin: 10px">Guardar</button>
      </form>
    </li>
    <li class="right">
      <form [formGroup]="articleForm"  class="product-form" *ngFor="let list of article | async">
        <mat-form-field class="product-full-width">
          <input matInput placeholder="Nombre del producto" formControlName="Name" value="{{list.productName}}" required>
        </mat-form-field>
      
        <mat-form-field class="product-full-width">
          <textarea matInput placeholder="Descripcion" formControlName="Description" value="{{list.productDescription}}" required></textarea>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <input matInput placeholder="Precio" type="number" formControlName="Price" value="{{list.productPrice}}" required>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <input matInput placeholder="En existencia" type="number" formControlName="Stock" value="{{list.productStock}}" required>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="Category" required>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button type="reset" style="background: #ffcd3c;margin-right: 10px">Limpiar</button>
        <button mat-button style="background: #ffcd3c;margin-right: 10px" (click)="articleSubmit()">Guardar</button>
        <button mat-button style="background: #ffcd3c" (click)="deleteArticle()" routerLink="/">Eliminar</button>
      </form>
    </li>
  </ul>
</ng-template>