<div *ngIf="user;else adminBlock">
  <ul class="blocks">
    <li class="left">
      <div class="carrousel">
        <slideshow #slideshow class="slide-homepage"
          [imageUrls]="imageUrlArray"
          [autoPlay]="false"
          [height]="height"
          [minHeight]="'300px'"
          [showArrows]="false">
        </slideshow>
      </div>
      <div>
        <input id="img1" type=image src={{article.imageUrlArray[0]}} class="smallImage" (click)="this.slideshow.goToSlide(0);">
        <input id="img2" type=image src={{article.imageUrlArray[1]}} class="smallImage" (click)="this.slideshow.goToSlide(1);">
        <input id="img3" type=image src={{article.imageUrlArray[2]}} class="smallImage" (click)="this.slideshow.goToSlide(2);">
        <input id="img4" type=image src={{article.imageUrlArray[3]}} class="smallImage" (click)="this.slideshow.goToSlide(3);">
        <input id="img5" type=image src={{article.imageUrlArray[4]}} class="smallImage" (click)="this.slideshow.goToSlide(4);">
      </div>
    </li>
    <li class="right">
      <div>
        <h1 style="font-family: Arial, Helvetica, sans-serif">
          {{article.productName}}
        </h1>
        <p class="thisFont">
          {{article.productDescription}}
        </p>  
      </div>
      <br><br>
      <div>
        <p class="thisFont">
          Precio:
          {{article.productPrice}} Cocoins
        </p>
        <p class="thisFont">
          En existencia:
          {{article.productStock}}
        </p>
        <p class="thisFont">
          <label for="productTotal">Cantidad: </label>
          <input class="thisFont" name="productTotal" type="number" min="1" max={{article.productStock}} [(ngModel)]="article.productTotal" style="width: 45px"/>
        </p>
      </div>
      <br>
      <button mat-raised-button type="submit" style="background: #ffcd3c">Comprar</button>
    </li>
  </ul>
</div>


<ng-template #adminBlock>
  <ul class="blocks">
    <li class="left">
      <div class="carrousel">
        <slideshow #slideshow class="slide-homepage"
          [imageUrls]="imageUrlArray"
          [autoPlay]="false"
          [height]="height"
          [minHeight]="'300px'"
          [showArrows]="false">
        </slideshow>
      </div>
      <div>
        <input id="img1" type=image src={{article.imageUrlArray[0]}} class="smallImage" (click)="this.slideshow.goToSlide(0);">
        <input id="img2" type=image src={{article.imageUrlArray[1]}} class="smallImage" (click)="this.slideshow.goToSlide(1);">
        <input id="img3" type=image src={{article.imageUrlArray[2]}} class="smallImage" (click)="this.slideshow.goToSlide(2);">
        <input id="img4" type=image src={{article.imageUrlArray[3]}} class="smallImage" (click)="this.slideshow.goToSlide(3);">
        <input id="img5" type=image src={{article.imageUrlArray[4]}} class="smallImage" (click)="this.slideshow.goToSlide(4);">
      </div>
      
      <form method="post" [formGroup]="articleImages" (ngSubmit)="onSubmit2()">
          <div>
            <label for="Img1">Imagen 1:</label>
            <input type="file" id="Img1" accept=".jpg, .jpeg, .png" formControlName="Img1" required>
          </div>
          <div>
            <label for="img2">Imagen 2:</label>
            <input type="file" id="Img2" accept=".jpg, .jpeg, .png" formControlName="Img2" required>
          </div>
          <div>
            <label for="img3">Imagen 3:</label>
            <input type="file" id="Img3" accept=".jpg, .jpeg, .png" formControlName="Img3" required>
          </div>
          <div>
            <label for="img4">Imagen 4:</label>
            <input type="file" id="Img4" accept=".jpg, .jpeg, .png" formControlName="Img4" required>
          </div>
          <div>
            <label for="img5">Imagen 5:</label>
            <input type="file" id="Img5" accept=".jpg, .jpeg, .png" formControlName="Img5" required>
          </div>
          <div>
            <button mat-button type="submit" style="background: #ffcd3c">Submit</button>
          </div>
        </form>


    </li>
    <li class="right">
      <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="product-form">
        <mat-form-field class="product-full-width">
          <input matInput placeholder="Nombre del producto" formControlName="Name" required>
        </mat-form-field>
      
        <mat-form-field class="product-full-width">
          <textarea matInput placeholder="Descripcion" formControlName="Description" required></textarea>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <input matInput placeholder="Precio" type="number" formControlName="Price" required>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <input matInput placeholder="En existencia" type="number" formControlName="Stock" required>
        </mat-form-field>

        <mat-form-field class="product-full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="Category" required>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button type="reset" style="background: #ffcd3c;margin-right: 10px">Limpiar</button>
        <button mat-button type="submit" style="background: #ffcd3c">Guardar</button>
      </form>
    </li>
  </ul>
</ng-template>