.blocks{
    width: 100%;
    text-align: left;
    position: relative;
    justify-content: center;
    display: flex;
}

.blocks > li{
    position: unset;
    display: inline-block;
}

.left{
    width: 50%;
    height: 100%;
    margin-left: 10%;
    margin-top: 5%;
    align-content: center;
}

.bigImage{
    width: 53%;
    align-content: center;
    margin: 1%;
}

.smallImage{
    width: 9%;
    overflow: visible;
    margin: 1%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.right{
    width: 50%;
    height: 100%;
    margin-top: 5%;
}

.thisFont{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}